<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <style>
        .container {
            width:1000px;
            max-width:100%;
            overflow:scroll;
            height:600px;
            max-height:600px;
            display:flex;
            flex-direction:row;
        }
        .border{
            border-color: black;
            border-style: groove;
            border-width: 70%;
        }
    </style>
</head>
<div class="container border" >
	<div class="p-1 border">
                <legend>Customer Detail</legend>
                <label for="cname">Customer Name</label>&nbsp;<input type="text" name="cname" id="cname" size="15%">&nbsp;
                <label for="cno">Customer Phone Number</label>&nbsp;<input type="text" name="cno" id="cno" size="10%">&nbsp;
                <label for="billno">Bill No</label>&nbsp;<input type="text" name="billno" id="billno" size="5%">
	</div>
	<div class="p-1 border">
                <legend>Customer Detail</legend>
                <label for="cname">Customer Name</label>&nbsp;<input type="text" name="cname" id="cname" size="15%">&nbsp;
                <label for="cno">Customer Phone Number</label>&nbsp;<input type="text" name="cno" id="cno" size="10%">&nbsp;
                <label for="billno">Bill No</label>&nbsp;<input type="text" name="billno" id="billno" size="5%">
	</div>
<div class="p-1 border">
                <legend>Customer Detail</legend>
                <label for="cname">Customer Name</label>&nbsp;<input type="text" name="cname" id="cname" size="15%">&nbsp;
                <label for="cno">Customer Phone Number</label>&nbsp;<input type="text" name="cno" id="cno" size="10%">&nbsp;
                <label for="billno">Bill No</label>&nbsp;<input type="text" name="billno" id="billno" size="5%">
	</div>
<div class="p-1 border">
                <legend>Customer Detail</legend>
                <label for="cname">Customer Name</label>&nbsp;<input type="text" name="cname" id="cname" size="15%">&nbsp;
                <label for="cno">Customer Phone Number</label>&nbsp;<input type="text" name="cno" id="cno" size="10%">&nbsp;
                <label for="billno">Bill No</label>&nbsp;<input type="text" name="billno" id="billno" size="5%">
	</div>


</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>